@*@model List<SmartBI.Models.GETLABORASBPS_FUNC_Result>*@
@model PagedList.IPagedList<SmartBI.Models.GETLABORASBPS_FUNC_Result>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Отчет для акта по спецификации ASBPS";
}

<h2>Отчет для акта по спецификации ASBPS</h2>

@Html.ActionLink("Скачать в Excel", "ExportToExcel_epplus_act_spec_asbps", new { Model = this.Model })

<table class="table">
    <tr>
        <th>
            ПОДРАЗДНИЗ
        </th>
        <th>
            ПОДРАЗДВЕРХ
        </th>
        <th>
            КОДЗНИ
        </th>
        <th>
            НОМЕР_ЗНИ
        </th>
        <th>
            ДАТА_РЕГ
        </th>
        <th>
            МЕНЕДЖЕР_ДИТ
        </th>
        <th>
            ИСТОЧНИК_ЗНИ
        </th>
        <th>
            ДАТА_РЕГ_ЗНИ
        </th>
        <th>
            СТАТУСЗНИ
        </th>
        <th>
            ДАТАРЕЗОЛЗНИ
        </th>
        <th>
            КОДЗАДАЧИ
        </th>
        <th>
            ОПИСАНИЕ_РАБОТЫ
        </th>
        <th>
            СТАТУСЗАДАЧИ
        </th>
        <th>
            ДАТАРЕЗОЛЗАДАЧИ
        </th>
        <th>
            ДАТАСОЗДЗАДАЧИ
        </th>
        <th>
            ДАТА_РАБОТЫ
        </th>
        <th>
            АС_НОМЕР
        </th>
        <th>
            АС_НАЗВАНИЕ
        </th>
        <th>
            СУМТРУД
        </th>
        <th>
            ПОЛНОЕ_ИМЯ
        </th>
        <th>
            GRADE
        </th>
        <th>
            ТРУДОЗАТРАТЫ
        </th>
        <th>
            WORK_TYPE_VAL
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ПОДРАЗДНИЗ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ПОДРАЗДВЕРХ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.КОДЗНИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.НОМЕР_ЗНИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДАТА_РЕГ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.МЕНЕДЖЕР_ДИТ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ИСТОЧНИК_ЗНИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДАТА_РЕГ_ЗНИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СТАТУСЗНИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДАТАРЕЗОЛЗНИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.КОДЗАДАЧИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ОПИСАНИЕ_РАБОТЫ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СТАТУСЗАДАЧИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДАТАРЕЗОЛЗАДАЧИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДАТАСОЗДЗАДАЧИ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ДАТА_РАБОТЫ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.АС_НОМЕР)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.АС_НАЗВАНИЕ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.СУМТРУД)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ПОЛНОЕ_ИМЯ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GRADE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ТРУДОЗАТРАТЫ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WORK_TYPE_VAL)
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("GetLaborASBPS", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
